@use "./variables" as *;

h2 {
  text-align: center;
  padding: 3px 7px;
  font-size: 5rem;
  color: $color-4;
  border-bottom: 5px solid $color-5;
  border-radius: 7px 7px 0 0;
}

.contact-me {
  font-size: 1.7rem;
  display: flex;
  background-color: $color-7;

  * {
    color: $color-1;
  }

  a {
    color: $color-4;
    text-decoration: none;

    &:hover {
      color: $color-2;
    }
  }

  > div {
    background-color: $color-9;
    text-align: center;
  }

  > div,
  form {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 23px;
  }

  form {
    label {
      text-align: center;
    }

    textarea#message {
      resize: vertical;
    }

    input,
    textarea {
      padding: 1ch;
      background-color: $color-9;
      border: $color-2 1px solid;
    }
  }

  h3 {
    margin-top: 5%;
  }

  .signature {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
// Button animation
.container {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
  top: 40px;
  left: 50%;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid $color-5;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: $color-9;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: $color-2;

  svg {
    stroke-dashoffset: -480;
  }

  span {
    color: $color-9;
  }
}

.btn span {
  color: $color-1;
  font-size: 18px;
  font-weight: 100;
}

// <=700px
@media screen and (max-width: 700px) {
  .contact-me {
    flex-direction: column;

    > form,
    > div {
      width: 100%;
    }
  }
}
