@import "./variables";

.hero {
  height: fit-content;
  margin-top: -160px;
  background: center / contain no-repeat
      radial-gradient(rgba(228, 228, 228, 0.671), rgba(255, 255, 255, 0.383)),
    $color-9 50% url("../img/ougi-bg.webp");
}

.content {
  width: 80%;
  margin-left: 10%;
  padding-top: 220px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    height: 4ch;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    margin-top: 5ch;
    font-size: 4rem;
  }

  img {
    margin: 10px;
    width: 70vw;
  }
}

.socials {
  height: 250px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 3ch 15%;
  align-items: center;

  > * {
    width: fit-content;
    position: relative;
  }

  .linked {
    transform: translateX(-100%);
  }

  .resume {
    translate: 100%;
    transform: translateY(-166%);
  }

  .github svg,
  .twitter svg,
  .resume svg,
  .linked svg {
    width: 69px;
    fill: $color-3;

    &:hover {
      fill: $color-1;
    }
  }
}

@media screen and (max-width: 700px) {
  .content {
    flex-direction: column-reverse;

    h1 {
      height: 7ch;
    }
  }

  .content h1 {
    margin-top: 1ch;
  }
}
