@charset "UTF-8";
@use "./variables" as *;

//--- MAIN ---//
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

//--- BURGER ---//
.menu-btn {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 90;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger,
.menu-btn__burger::after,
.menu-btn__burger::before {
  width: 50px;
  height: 6px;
  background: $color-4;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

// ANIMATION
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

//--- NAVBAR ---//
.page-logo {
  width: 150px;
}

.hidde-left {
  transition: all 0.5s ease-in-out;
  transform: translateX(-120%);
  right: 100%;
}

.navbar {
  z-index: 80;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(131.11grad, $color-6 4%, $color-5 63%);
  transition: all 0.5s ease-in-out;

  > * {
    padding: 10px;
    list-style: none;
  }

  a {
    color: $color-3;
    text-decoration: none;
    font-size: 2.6rem;
    font-weight: 700;
    transition: 0.1s ease-in-out;
  }

  .extra-link {
    position: relative;
    overflow: hidden;
    color: $color-3;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.15em;
      background-color: $color-1;
      transition: opacity 150ms, transform 300ms;
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      border-radius: 7px;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  a:hover {
    color: $color-1;
  }
}

// svg {
//   fill: $svg-fill-color;
//   // fill: linear-gradient(298deg, $color-5c 4%, #ff4d6d 63%);
// }

// .test {
//   height: 200vh;
// }

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
@media all and (min-width: 700px) {
  .menu-btn {
    display: none;
  }

  .navbar {
    height: 89px;
    transform: translateX(0);
    flex-direction: row;
    background: $color-9;
    justify-content: flex-end;

    img {
      position: fixed;
      top: 1px;
      left: 20px;
    }

    a {
      font-size: 2rem;
    }
  }
}
