@import "./variables";
// $color-1: #590d22;
// $color-2: #800f2f;
// $color-3: #a4133c;
// $color-4: #c9184a;
// $color-5: #ff4d6d;
// $color-6: #ff758f;
// $color-7: #ff8fa3;
// $color-8: #ffb3c1;
// $color-9: #ffccd5;

.pp-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 3px 7px;
    width: fit-content;
    font-size: 5rem;
    color: $color-4;
    border-bottom: 5px solid $color-5;
    border-radius: 7px;
  }
}

.projects {
  font-size: 1.3rem;
  width: 80vw;
  margin: 30px 0;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, fit-content);
  gap: 7px;

  * {
    width: fit-content;
  }

  > * {
    border-radius: 7px;
  }

  img {
    border-radius: 7px;
    width: 100%;
  }

  // Layout for big screen
  a {
    fill: $color-5;
    color: $color-5;

    &:hover {
      fill: $color-3;
      color: $color-3;
    }

    // Make the cool grid :D
    &.project1 {
      grid-area: 2/1;
    }
    &.project2 {
      grid-area: 1/2;
    }
    &.project3 {
      grid-area: 2/3;
    }
    &.project4 {
      grid-area: 1/4;
    }
  }

  .desc {
    border: 1px solid $color-4;
    &.project1 {
      grid-area: 1/1;
    }
    &.project2 {
      grid-area: 2/2;
    }
    &.project3 {
      grid-area: 1/3;
    }
    &.project4 {
      grid-area: 2/4;
    }
  }

  .flex-project {
    // helper class to push "source code to bottom"
    display: flex;
    flex-direction: column;

    h3 {
      text-align: center;
      text-shadow: 0 0 1px $color-7;
    }
  }

  .tech {
    padding: 0.5px;
    border-radius: 7px;
    margin: 0.2px 0.6px;
    border: 0.2px solid rgba(0, 0, 0, 0.363);
    color: rgba(0, 0, 0, 0.856);
    text-shadow: 0 0 1px #000;
  }

  .css {
    background-color: rgba(35, 74, 216, 0.97);
  }
  .sass {
    background-color: rgba(206, 80, 143, 0.97);
  }
  .react {
    background-color: rgba(9, 207, 242, 0.97);
  }
  .html {
    background-color: rgba(229, 96, 39, 0.97);
  }
  .js {
    background-color: rgba(234, 213, 26, 0.97);
  }
  .ts {
    background-color: rgba(46, 115, 188, 0.97);
  }

  .source {
    margin-top: auto;
    align-self: center;

    a {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    svg {
      width: 2ch;
    }
  }
}

// <= 1024px
@media screen and (max-width: 1025px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, fit-content);
    background-color: pink;

    a {
      &.project1 {
        grid-area: 2/1;
      }
      &.project2 {
        grid-area: 1/2;
      }
      &.project3 {
        grid-area: 3/2;
      }
      &.project4 {
        grid-area: 4/1;
      }
    }

    .desc {
      &.project1 {
        grid-area: 1/1;
      }
      &.project2 {
        grid-area: 2/2;
      }
      &.project3 {
        grid-area: 3/1;
      }
      &.project4 {
        grid-area: 4/2;
      }
    }
  }
}

// <=700px
@media screen and (max-width: 700px) {
  .projects {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 102, 128, 0.644);
  }
}

// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV.
