/* @charset "UTF-8"; */
html, 
body {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  transition: 0.1s ease-in-out;
}

:root {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #ffb3c1;
}

#fuck {
  height: 200vh;
}
