/* @charset "UTF-8"; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: "Hubballi";
}

body {
  background: rgba(145, 154, 255, 0.8);
}

#fuck {
  height: 200vh;
}
